@font-face {
  font-family: "HancomSans-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomSans-Light.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --first-color: #538392;
  --second-color: #b3e2a7;
  --thrid-color: #80b9ad;
  --font-color: #ffff;
}

body {
  font-family: "HancomSans-Light";
  background: #80b9ad;
}

/* container section  */

.container {
  scroll-behavior: smooth;
}

/* main section */

.main-contents {
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: var(--first-color);
  background: linear-gradient(#538392, #80b9ad);
  width: 100%;
  height: 58vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* my profile section */

.my-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #fff;
}
.profile-img {
  margin: 10px;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img img {
  width: 180px;
}

/*Skills section */

.skill-sections {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.skill-contents {
  width: 76%;
  height: 160px;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-contents img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.skill-contents img:hover {
  width: 140px;
  height: 140px;
  transition: 1s;
}

.contact {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.contact button {
  margin: 12px;
  padding: 10px;
  border: none;
  background-color: #b3e2a7;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.contact button:hover {
  background-color: #538392;
  transition: 0.6s;
}

@media (max-width: 800px) {
  .skill-contents img {
    width: 60px;
    height: 60px;
    margin: 8px;
  }
  .skill-contents img:hover {
    width: 70px;
    height: 70px;
    transition: 1s;
  }
}
