main {
  padding: 30px 20px 30px 0;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding: 20px 0 20px 0;
}

.item-list img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 20px;
}

.item-list h1 {
  font-size: 20px;
}

.write-btn {
  position: fixed;
  background-color: #e17b23;
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  bottom: 140px;
  right: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
