* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

:root {
  --first-color: #3aa6b9;
  --second-color: #ff9eaa;
  --third--color: #ffd0d0;
  --font-color: #f9f9e0;
}

body {
  background-color: var(--first-color);
  color: var(--font-color);
}

.container {
  padding: 20px;
  float: left;
}

.container > h1 {
  font-size: 3.4rem;
  margin: 24px;
}
.container > h2 {
  font-size: 4rem;
  margin: 24px;
}

span {
  color: var(--second-color);
}

.display-img-contents,
.human-img-contents {
  width: 50%;
  float: right;
  padding: auto;
}
.display-img-contents > img,
.human-img-contents > img {
  width: 200px;
  height: 150px;
  float: right;
}

.container .p {
  text-align: center;
  margin: 10px;
  color: var(--third--color);
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .container > h1 {
    font-size: 2rem;
  }
  .container > h2 {
    font-size: 2.4rem;
    margin: 24px;
  }

  span {
    color: var(--second-color);
  }

  .display-img-contents,
  .human-img-contents {
    width: 340px;
  }
  .display-img-contents > img {
    width: 100%;
  }

  .human-img-contents > img {
    width: 100%;
  }

  .container .p {
    text-align: center;
    margin: 10px;
  }
}
